# MacOS
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.tmp
ehthumbs.db
*/Thumbs.db
Thumbs.db
._*
**/._*
*/._*
.icloud
**/.icloud
*/.icloud

# WSL
**/*Zone.Identifier

